body {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
header {
  background-color: black;
  color: yellow;
  padding: 20px; /*內距*/
  text-align: center; /*文字置中*/
}
.container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
